

h1 {
	text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: normal;
	}


.martin {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-50%, -50%);
  
}
