
@font-face {
    font-family: "LeagueGothic";
    font-style: normal;
    src: url("LeagueGothic-Regular.woff") format('woff');
}

.header {
	position: relative;
	top: 0;
	left: 0;
	height: 400px;  
	width: 100%: 
}

.woodbackground {
	position: relative;
	top: 0;
	left: 0;
	height: 400px; 
	width: 100%;
}

.avatar {
	position: relative;
	bottom: 350px;
	left: 50%;
	margin-left: -75px;
	border-radius: 50%;
	height: 150px;
	width: 150px;
}

.title {
	text-align: center;
    font-family: LeagueGothic;
	font-size: 10vw;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: black;
	font-weight: normal;
	width:100%;
	position: relative;
	bottom: 250px;
	left:50%;
	transform: translate(-50%, -50%);
}

.footer {
	height: 50px;
	width: 100%;
  	background-color: rgba(0,0,0,0.07);
  	text-align: center;
}

ul {
	list-style-type: none;
	margin: auto;
	text-align: center;
	justify-content: center;
	display: flex;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 13px;
  text-decoration: none;
  font-family: Menlo, monospace;
<<<<<<< HEAD
  font-size: 2vh;
}

a:hover {
  box-shadow: inset 0 -2px 0 black;
=======
>>>>>>> parent of 2d38621 (Fixed padding)
}