

h1 {
	text-align: center;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 40px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: #000000;
	font-weight: normal;
	}

